﻿img {
    width: 100%;
    height: 100%;
}

.about__header-image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
}

.about-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.fw-bold {
    padding-left: 10px;
}

.post-text-header {
    font-weight: 700;
}