﻿@using FA.JustBlog.Model.TagModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model TagDetailViewModel

<div class="text-center">
    <h2>Tag Category</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-action="Create">
                <div class="mb-3">
                    <label asp-for="TagName"></label>
                    <input type="text" asp-for="TagName" class="form-control" />
                    <span asp-validation-for="TagName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UrlSlug"></label>
                    <input type="text" asp-for="UrlSlug" class="form-control" />
                    <span asp-validation-for="UrlSlug" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea type="text" asp-for="Description" class="form-control" ></textarea>
                </div>

                <div class="mb-3">
                    <label asp-for="Count"></label>
                    <input type="text" asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success" style="width: 150px;">Create</button>
                <a asp-area="Admin" asp-controller="Tag" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>
</div>






