﻿@using FA.JustBlog.Model.TagModel;
@{
    var tag = Model;
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model TagDetailViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Detail Tag</h3>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>TagName</th>
                                <th>UrlSlug</th>
                                <th>Description</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@tag.Id</td>
                                <td>@tag.TagName</td>
                                <td>@tag.UrlSlug</td>
                                <td>@tag.Description</td>
                                <td>@tag.Count</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="Tag" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

