﻿@using FA.JustBlog.Model.TagModel
@{
    ViewData["Title"] = "Create";
}
@model TagDetailViewModel

<div class="text-center">
    <h2>Edit Category</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-area="Admin" asp-controller="Tag" asp-action="Edit">
                <div class="mb-3">
                    <input asp-for="Id" hidden="hidden" />
                    <label asp-for="TagName"></label>
                    <input asp-for="TagName" class="form-control" />
                    <span asp-validation-for="TagName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UrlSlug"></label>
                    <input asp-for="UrlSlug" class="form-control" />
                    <span asp-validation-for="UrlSlug" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" ></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Count"></label>
                    <input type="number" asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" style="width: 150px;">Update</button>
                <a asp-area="Admin" asp-controller="Tag" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-info">Back to List</a>
            </form>
        </div>
    </div>
</div>






