﻿@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using FA.JustBlog.Model.CommentModel
@model CommentDetailViewModel

<div class="text-center">
    <h2>Create Comment</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-area="Admin" asp-controller="Comment" asp-action="Delete">
                <input asp-for="Id" hidden="hidden" class="form-control" />
                <div class="mb-3">
                    <label asp-for="CommentName"></label>
                    <input asp-for="CommentName" disabled class="form-control" />
                    <span asp-validation-for="CommentName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input type="email" asp-for="Email" disabled class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CommentHeader"></label>
                    <input type="text" asp-for="CommentHeader" disabled class="form-control" />
                    <span asp-validation-for="CommentHeader" class="text-danger"></span>
                </div>
                <div class="mb-3 w-25">
                    <label asp-for="CommentTime"></label>
                    <input type="date" asp-for="CommentTime" disabled class="form-control" />
                    <span asp-validation-for="CommentTime"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CommentText"></label>
                    <input type="text" asp-for="CommentText" disabled class="form-control" />
                    <span asp-validation-for="CommentText" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PostId"></label>
                    <input type="number" asp-for="PostId" disabled class="form-control" />
                    <span asp-validation-for="PostId" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-danger" style="width: 150px;">Delete</button>
                <a asp-area="Admin" asp-controller="Comment" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>
</div>



