﻿

@using FA.JustBlog.Model.CommentModel;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var comment = Model;
}

@model CommentDetailViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Detail Comment</h3>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>CommentName</th>
                                <th>Email</th>
                                <th>CommentHeader</th>
                                <th>CommentText</th>
                                <th>PostId</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@comment.Id</td>
                                <td>@comment.CommentName</td>
                                <td>@comment.Email</td>
                                <td>@comment.CommentHeader</td>
                                <td>@comment.CommentText</td>
                                <td>@comment.PostId</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="Comment" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

