﻿@using FA.JustBlog.Model.CommentModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@{
    var comments = (PagedList<CommentDetailViewModel>)ViewBag.Comments;
    var page = (int)ViewBag.page;
    var pageSize = (int)ViewBag.pageSize;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Comment Management</h3>
                    <select class="form-select float-right" aria-label="Default select example"
                            onchange="window.location.href=`/Admin/Comment?page=1&pagesize=${this.value}`"
                            style="width: 10%;">
                        <option value="3" selected="@(pageSize == 3?true:false)">3</option>
                        <option value="5" selected="@(pageSize == 5?true:false)">5</option>
                        <option value="10" selected="@(pageSize == 10?true:false)">10</option>
                        <option value="15" selected="@(pageSize == 15?true:false)">15</option>
                    </select>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <div class="button-create">
                        <a href="/Admin/Comment/Create" class="btn btn-success mb-3">Add Comment</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>CommentName</th>
                                <th>Email</th>
                                <th>CommentHeader</th>
                                <th>CommentText</th>
                                <th>PostId</th>
                                <th>Function</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var comment in comments)
                            {
                                <tr>
                                    <td>@comment.Id</td>
                                    <td>@comment.CommentName</td>
                                    <td>@comment.Email</td>
                                    <td>@comment.CommentHeader</td>
                                    <td>@comment.CommentText</td>
                                    <td>@comment.PostId</td>
                                    <td class="d-flex">
                                        <a asp-area="Admin" asp-controller="Comment" asp-action="Details" asp-route-id="@comment.Id" class="btn btn-info text-white" style="margin: 0px 5px;">Detail</a>
                                        <a asp-area="Admin" asp-controller="Comment" asp-action="Edit" asp-route-id="@comment.Id" class="btn btn-primary" style="margin: 0px 5px;">Update</a>
                                        <a asp-area="Admin" asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" class="btn btn-danger" style="margin: 0px 5px;">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-footer -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm float-right">
                        @Html.PagedListPager((IPagedList)comments,
                        page => Url.Action("Index","Comment",new { page = page, pageSize = pageSize}),
                        new PagedListRenderOptions {
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                        })
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

