﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Clean blog is a carefully styled Bootstrap blog theme that is perfect for personal or company
        blogs. This theme features four HTML pages including a blog index, an about page, a sample post,
        and a contact page.
    </p>
</div>
