﻿@using FA.JustBlog.Model.CategoryModel
@{
    ViewData["Title"] = "Create";
}
@model CategoryDetailViewModel

<div class="text-center">
    <h2>Create Category</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post"  asp-action="Create">
                <div class="mb-3">
                    <label asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UrlSlug"></label>
                    <input asp-for="UrlSlug" class="form-control" />
                    <span asp-validation-for="UrlSlug" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" id="Description" class="form-control"> </textarea>
                </div>
                <button type="submit" class="btn btn-success" style="width: 150px;">Create</button>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>
</div>




