﻿@using FA.JustBlog.Model.CategoryModel
@{
    ViewData["Title"] = "Delete";
}

@model CategoryDetailViewModel

<div class="text-center">
    <h2>Edit Category</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Delete">
                <div class="mb-3">
                    <input asp-for="Id" hidden="hidden" />
                    <label asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="UrlSlug"></label>
                    <input asp-for="UrlSlug" disabled class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" disabled class="form-control" />
                </div>
                <button type="submit" class="btn btn-danger" style="width: 150px;">Delete</button>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-info">Back to List</a>
            </form>
        </div>
    </div>
</div>




