﻿@using FA.JustBlog.Model.CategoryModel
@{
    var category = Model;
}
@model CategoryDetailViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Detail Category</h3>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>CategoryName</th>
                                <th>UrlSlug</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@category.Id</td>
                                <td>@category.CategoryName</td>
                                <td>@category.UrlSlug</td>
                                <td>@category.Description</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>