﻿@using FA.JustBlog.Model.CategoryModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;

@{
    var categories = (PagedList<CategoryDetailViewModel>)ViewBag.Categorys;
    var page = (int)ViewBag.page;
    var pageSize = (int)ViewBag.pageSize;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Category Management</h3>
                    <select class="form-select float-right" aria-label="Default select example"
                            onchange="window.location.href=`/Admin/Category?page=1&pagesize=${this.value}`"
                            style="width: 10%;">
                        <option value="3" selected="@(pageSize == 3?true:false)">3</option>
                        <option value="5" selected="@(pageSize == 5?true:false)">5</option>
                        <option value="10" selected="@(pageSize == 10?true:false)">10</option>
                        <option value="15" selected="@(pageSize == 15?true:false)">15</option>
                    </select>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <div class="button-create">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-success mb-3">Add Category</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>CategoryName</th>
                                <th>UrlSlug</th>
                                <th>Description</th>
                                <th>Function</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in categories)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.CategoryName</td>
                                    <td>@category.UrlSlug</td>
                                    <td>@category.Description</td>
                                    <td class="d-flex">
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" class="btn btn-info text-white" style="margin: 0px 5px;">Detail</a>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id"  class="btn btn-primary" style="margin: 0px 5px;">Update</a>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger" style="margin: 0px 5px;">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-footer -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm float-right">
                        @Html.PagedListPager((IPagedList)categories,
                        page => Url.Action("Index","Category",new { page = page, pageSize = pageSize}),
                        new PagedListRenderOptions {
                        MaximumPageNumbersToDisplay = 10,
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                        })
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>