﻿@using FA.JustBlog.Model.TagModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<TagDetailViewModel>

@if(Model != null){
   <div style="padding-left: 10px;">
        <h2>Popular Tag</h2>
        @foreach (var item in Model)
        {
            <div class="tag-popular col-lg-12 mx-auto">
                <i class="fa-solid fa-tag"></i>
                @Html.ActionLink(item.TagName,"GetPostByTag","Post",new {urlSlug = item.UrlSlug})
            </div>
        }
   </div>
}
