﻿@using FA.JustBlog.Model.PostModel
@{
    ViewData["Title"] = "Details";
}
@model PostDetailViewModel

@{
    var post = Model;
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Detail post</h3>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>ShortDescription</th>
                                <th>PostContent</th>
                                <th>UrlSlug</th>
                                <th>PostedOn</th>
                                <th>ViewCount</th>
                                <th>RateCount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@post.Id</td>
                                <td>@post.Title</td>
                                <td>@post.ShortDescription</td>
                                <td>@post.PostContent</td>
                                <td>@post.UrlSlug</td>
                                <td>@post.PostedOn</td>
                                <td>@post.ViewCount</td>
                                <td>@post.RateCount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="Post" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

