﻿@{
    ViewData["Title"] = "Update Category";
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using FA.JustBlog.Model.PostModel
@model PostDetailViewModel

<div class="text-center">
    <h2>Update Post</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-area="Admin" asp-controller="Post" asp-action="Edit">
                <input asp-for="Id" hidden="hidden" />
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ShortDescription"></label>
                    <input type="text" asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PostContent"></label>
                    <textarea type="text" asp-for="PostContent" id="Description" class="form-control"></textarea>
                    <span asp-validation-for="PostContent"></span>
                </div>

                <div class="mb-3 w-50">
                    <label asp-for="UrlSlug"></label>
                    <input type="text" asp-for="UrlSlug" class="form-control" />
                    <span asp-validation-for="UrlSlug"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Published" class="col-form-label">Published</label>
                    <input asp-for="Published" type="checkbox" />
                </div>

                <div class="mb-3 w-25">
                    <label asp-for="PostedOn"></label>
                    <input type="date" asp-for="PostedOn" class="form-control" />
                    <span asp-validation-for="PostedOn"></span>
                </div>

                <div class="mb-3 w-25">
                    <label asp-for="ViewCount"></label>
                    <input type="number" asp-for="ViewCount" class="form-control" />
                    <span asp-validation-for="ViewCount"></span>
                </div>

                <div class="mb-3 w-25">
                    <label asp-for="RateCount"></label>
                    <input type="number" asp-for="RateCount" class="form-control" />
                    <span asp-validation-for="RateCount"></span>
                </div>

                <div class="mb-3 w-25">
                    <label asp-for="TotalRate"></label>
                    <input type="number" asp-for="TotalRate" class="form-control" />
                    <span asp-validation-for="TotalRate"></span>
                </div>

                <div class="row mb-3">
                    <label asp-for="CategoryId" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select asp-for="CategoryId" class="form-control w-25" asp-items="ViewBag.Categorys"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label asp-for="Tags" class="col-sm-2 col-form-label">Tag</label>
                    <div class="col-sm-10">
                        <select asp-for="Tags" class="form-control" asp-items="ViewBag.Tags"></select>
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" style="width: 150px;">Update</button>
                <a asp-area="Admin" asp-controller="Post" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>
</div>
