﻿@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    var page = (int)ViewBag.page;
    var pageSize = (int)ViewBag.pageSize;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Post Management</h3>
                    <select class="form-select float-end" aria-label="Default select example" style="width:10%;" onchange="window.location.href=`/Admin/Post?page=1&pagesize=${this.value}`">
                        <option value="3" selected="@(pageSize == 3?true:false)">3</option>
                        <option value="5" selected="@(pageSize == 5?true:false)">5</option>
                        <option value="10" selected="@(pageSize == 10?true:false)">10</option>
                        <option value="15" selected="@(pageSize == 15?true:false)">15</option>
                    </select>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <div class="button-create">
                        <a href="Post/Create" class="btn btn-success mb-3">Add Post</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>ShortDescription</th>
                                <th>PostContent</th>
                                <th>Published</th>
                                <th>PostedOn</th>
                                <th>ViewCount</th>
                                <th>RateCount</th>
                                <th>TotalRate</th>
                                <th>Function</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var post in ViewBag.Posts)
                            {
                                <tr>
                                    <td>@post.Id</td>
                                    <td>@post.Title</td>
                                    <td>@post.ShortDescription</td>
                                    <td>@post.PostContent</td>
                                    <td>@post.Published</td>
                                    <td>@post.PostedOn</td>
                                    <td>@post.ViewCount</td>
                                    <td>@post.RateCount</td>
                                    <td>@post.TotalRate</td>
                                    <td class="d-flex">
                                        <a asp-area="Admin" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="btn btn-info text-white" style="margin: 0px 5px;">Detail</a>
                                        <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-primary" style="margin: 0px 5px;">Update</a>
                                        <a asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" class="btn btn-danger" style="margin: 0px 5px;">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-footer -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm float-right">
                        @Html.PagedListPager((IPagedList)ViewBag.Posts,
                        page => Url.Action("Index","Post",new { page = page, pageSize = pageSize}),
                        new PagedListRenderOptions {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                        })
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>