﻿@using FA.JustBlog.Model.RoleModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var role = Model;
}


@model RoleModel

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Detail Comment</h3>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>NormalizedName</th>
                                <th>ConcurrencyStamp</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@role.Id</td>
                                <td>@role.Name</td>
                                <td>@role.NormalizedName</td>
                                <td>@role.ConcurrencyStamp</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="Role" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>




