﻿@using FA.JustBlog.Model.RoleModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model RoleModel

<div class="text-center">
    <h2>Create Role</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-area="Admin" asp-controller="Role" asp-action="Edit">
                <div class="mb-3">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NormalizedName"></label>
                    <input asp-for="NormalizedName" class="form-control" />
                    <span asp-validation-for="NormalizedName" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary" style="width: 150px;">Update</button>
                <a asp-area="Admin" asp-controller="Role" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>
</div>

