﻿@using FA.JustBlog.Model.RoleModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var page = (int)ViewBag.page;
    var pageSize = (int)ViewBag.pageSize;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Role Management</h3>
                    <select class="form-select float-end" aria-label="Default select example" style="width:10%;"
                            onchange="window.location.href=`/Admin/Role?page=1&pagesize=${this.value}`">
                        <option value="3" selected="@(pageSize == 3?true:false)">3</option>
                        <option value="5" selected="@(pageSize == 5?true:false)">5</option>
                        <option value="10" selected="@(pageSize == 10?true:false)">10</option>
                        <option value="15" selected="@(pageSize == 15?true:false)">15</option>
                    </select>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <div class="button-create">
                        <a asp-area="Admin" asp-controller="Role" asp-action="Create" class="btn btn-success mb-3">Add Role</a>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>NormalizedName</th>
                                <th>ConcurrencyStamp</th>
                                <th>Function</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in ViewBag.Roles)
                            {
                                <tr>
                                    <td>@role.Id</td>
                                    <td>@role.Name</td>
                                    <td>@role.NormalizedName</td>
                                    <td>@role.ConcurrencyStamp</td>
                                    <td class="d-flex">
                                        <a asp-area="Admin" asp-controller="Role" asp-action="Details" asp-route-id="@role.Id" class="btn btn-info text-white" style="margin: 0px 5px;">Detail</a>
                                        <a asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id" class="btn btn-primary" style="margin: 0px 5px;">Update</a>
                                        <a asp-area="Admin" asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger" style="margin: 0px 5px;">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-footer -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm float-right">
                        @Html.PagedListPager((IPagedList)ViewBag.Roles,
                        page => Url.Action("Index","Role",new { page = page, pageSize = pageSize}),
                        new PagedListRenderOptions {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                        })
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

