﻿@using FA.JustBlog.Model.UserModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@model CreateUserModelView

<div class="text-center">
    <h2>Edit Comment</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form method="post" asp-area="Admin" asp-controller="User" asp-action="Delete">
                <div class="mb-3">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" disabled class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NormalizedUserName"></label>
                    <input asp-for="NormalizedUserName" disabled class="form-control" />
                    <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email"></label>
                    <input type="email" asp-for="Email" disabled class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Age"></label>
                    <input type="number" asp-for="Age" disabled class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AboutMe"></label>
                    <textarea type="text" asp-for="AboutMe" disabled id="Description" class="form-control"></textarea>
                    <span asp-validation-for="AboutMe"></span>
                </div>

                <button type="submit" class="btn btn-danger" style="width: 150px;">Delete</button>
                <a asp-area="Admin" asp-controller="User" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
            </form>
        </div>
    </div>
</div>

