﻿@using FA.JustBlog.Model.UserModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var user = Model;
}

@model CreateUserModelView

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-header">
                    <h3 class="card-title">Detail Comment</h3>
                </div>
                <!-- /.card-body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>EmailConfirmed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@user.Id</td>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.EmailConfirmed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a asp-area="Admin" asp-controller="User" asp-action="Index" asp-route-page="1" asp-route-pageSize="3" class="btn btn-warning">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>


