﻿@using FA.JustBlog.Common
@using FA.JustBlog.Model.PostModel

@model List<PostDetailViewModel>

<div class="container-fluid">
    <div class="row">
        @foreach (var post in Model)
        {
            <div>
                <h4>
                    @Html.ActionLink(post.Title,"DetailPost","Post",new {@year = post.PostedOn.Year, month = post.PostedOn.Month.ToString("00")
                , title = post.UrlSlug})
                </h4>
            </div>
            <div class="text-black-50">
                Posted: @post.PostedOn.GenerateDateState() with rate @Html.DisplayFor(modelItem => post.Rate)
                by @Html.DisplayFor(modelItem => post.ViewCount) view(s)
            </div>

        }
    </div>
</div>