﻿@using FA.JustBlog.Common
@using FA.JustBlog.Model.PostModel

@model PostDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>LastestPost</h1>
<hr />
@if (@Model != null)
{
    <div class="main-content">
        <div class="title-header-post">
            <h3>@Html.DisplayFor(modelItem => modelItem.Title)</h3>
            <div class="text-black-50">
                Posted: @Model.PostedOn.GenerateDateState() with rate @Html.DisplayFor(modelItem => modelItem.Rate)
                by @Html.DisplayFor(modelItem => modelItem.ViewCount) view(s)
            </div>
            <p>
                @Html.DisplayFor(modelItem => modelItem.PostContent)
            </p>
            
            <hr />
        </div>
        <div>
            <div id="comments-box">
                @*@await Html.PartialAsync("/Views/Post/_Comment.cshtml", new {postId = Model.Id})*@
            </div>

            <div class="d-flex justify-content-start">
                <div class="content-left">
                    <img src="~/dist/img//avatar.png" alt="img" style="width: 50%;height:30%; border-radius: 50%;" />
                </div>
                <div class="content-right" style="flex: 1;">
                    <input hidden="hidden" id="postId" value="@Model.Id" />

                    <div class="d-flex justify-content-between my-3">
                        <span>Comment Header</span>
                        <input type="text" id="comment-header" value="" />
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <span>Comment Name</span>
                        <input type="text" id="comment-name" value="" />
                    </div>
                    <div class="d-flex justify-content-between my-3">
                        <span>Email</span>
                        <input type="text" id="comment-email" value="" />
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="comment-text" placeholder="Comment Text" rows="5"></textarea>
                    </div>

                    <div style="float: right;">
                        <button class="btn btn-primary btn-sm" id="submit-comment-btn">Post Comment</button>
                        <button class="btn btn-outline-info btn-sm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <h1>List is emplty</h1>
}

