﻿@using FA.JustBlog.Common
@using FA.JustBlog.Model.PostModel
@using FA.JustBlog.Service.CategoryService
@using FA.JustBlog.Service.PostService
@using FA.JustBlog.Service.TagService
@model IEnumerable<PostDetailViewModel>

@inject ITagService service
@inject ICategoryService categoryService
@inject IPostService postService



@{
    ViewData["Title"] = "Post";
    var tagPopular = service.GetPopularTag();
    var getLatestPost = postService.GetLastestPost(5).Data;
    var getMostPost = postService.GetMostPost(5).Data;
}


<div class="d-flex justify-content-between mx-auto">
    <div class="left-content col-lg-8">
        <div class="text-black display-4 post-text-header">
            All Posts!
        </div>
        <div>
            @if (Model != null)
            {
                @foreach (var post in Model)
                {
                    <div class="main-content">
                        <div class="title-header-post">
                            <h3>
                                @Html.ActionLink(post.Title,"DetailPost","Post",new {year = post.PostedOn.Year, month = post.PostedOn.Month.ToString("00")
                        , title = post.UrlSlug}, null)
                            </h3>
                            <div class="text-black-50">
                                Posted: @post.PostedOn.GenerateDateState() with rate @Html.DisplayFor(modelItem => post.Rate)
                                by @Html.DisplayFor(modelItem => post.ViewCount) view(s)
                            </div>
                            <p style="word-wrap: break-word;padding-right: 10px;">
                                @Html.DisplayFor(modelItem => post.PostContent)
                            </p>
                        </div>
                        <div class="card-text">
                            <i class="fa-solid fa-shield-cat"></i>
                            Category: @Html.ActionLink(@categoryService.GetCategoryByPost(post.Id).Data.CategoryName,"GetPostByCategory","Category", new {category = post.UrlSlug})
                        </div>
                        <div>
                            <i class="fa-solid fa-user-tag"></i>
                            Tags:
                            @foreach (var item in service.GetTagByPost(post.Id).Data)
                            {
                                <span><i class="fa-solid fa-tag"></i>@Html.ActionLink(item.TagName,"GetPostByTag","Post",new {urlSlug = item.UrlSlug}),</span>
                            }
                        </div>
                    </div>
                    <hr />
                }
            }
            else
            {
                <div class="text-black">
                    <h1>List Post is empty</h1>
                </div>
            }
        </div>
    </div>
    <div class="right-content col-lg-4">
        @await Html.PartialAsync("_PartialAboutCard")
        <hr />
        <h2 style="padding-left: 10px;">Most View Post</h2>
        @await Html.PartialAsync("/Views/Post/_ListPosts.cshtml",getMostPost)
        <hr />
        <h2 style="padding-left: 10px;">Lastes Post</h2>
        @await Html.PartialAsync("/Views/Post/_ListPosts.cshtml",getLatestPost)
        <hr />
        @await Html.PartialAsync("/Views/Tag/_PopularTags.cshtml",tagPopular.Data)
    </div>
</div>


