﻿@using FA.JustBlog.Common
@using FA.JustBlog.Model.CommentModel

@model List<CommentDetailViewModel>

@foreach (var comment in Model)
{
    <div class="d-flex justify-content-start">
        <div class="content-left">
            <img src="~/dist/img//avatar.png" style="width: 50%;height:100%; border-radius: 50%;" alt="img" />
        </div>
        <div class="content-right">
            <h3 style="color: #679AD9;">@comment.Email</h3>
            <span>@comment.CommentName - @comment.CommentTime.GenerateDateState() </span>
        </div>
    </div>
    <div class="main-content my-3">
        @comment.CommentText
    </div>
    <div class="my-4" style="color: #679AD9;">
        <i class="fa-regular fa-thumbs-up"></i> Like  <i class="fa-regular fa-comment"></i>  Comment <i class="fa-solid fa-share"></i> Share
    </div>
}