﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FA.JustBlog</title>
    
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/FA.JustBlog.styles.css" asp-append-version="true" />

    <!-- Font Awesome icons (free version)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/aboutpage.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
   

</head>
<body>
    <div>
        @await Html.PartialAsync("_HeaderClient");
    </div>
    <!--Main Content-->
    <div class="container">
        <h1>@ViewBag.T</h1>
        <main class="col-lg-12 d-flex justify-content-between align-items-center">
            <div class="col-lg-12 mx-auto">
                @RenderBody()
            </div>
        </main>
    </div>
    <!--Footer-->
    @await Html.PartialAsync("_PartialFooter");

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="/lib/ckeditor/ckeditor.js"></script>
    <script src="/lib/ckeditor/adapters/jquery.js"></script>

    <script src="~/js/scripts.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
