﻿
<div class="about__header-image">
    <img src="~/assets/img/about-bg.jpg" alt="" />
</div>

<div class="fw-bold">
    <h2>@Html.ActionLink("About Me","AboutDetail","Home")</h2>
    <p>
        Just me, myseflt and I, exploring the universe of uknowment, I have a heart of love and a interest
    </p>
</div>