﻿@using FA.JustBlog.Model.UserModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@model UserLoginViewModel 

<form method="post" asp-area="Admin" asp-controller="Login" asp-action="SignIn">
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Email" value="hoangnv24@gmail.com">
         <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password" value="hoang1234">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-8">
            <div >
                <div class="icheck-primary">
                    <input type="checkbox" asp-for="RememberMe" id="remember">
                    <label for="remember">
                        Remember Me
                    </label>
                </div>
                <div>
                    <span asp-validation-for="RememberMe" class="text-danger"></span>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
</form>

